:root {
  --white-100: #ffffff;
  --grey--600: #475367;
  --grey--900: #101928;
  --grey--500: #667185;
  --grey--800: #1d2739;
  --grey--100: #f0f2f5;
  --grey--200: #e4e7ec;
  --black-200: #101828;
  --zenly-blue--500: #2f7dd0;
  --zenly-blue--100: #d7e6f6;
  --zenly-amber--50: #fcefe9;
  --zenly-amber--600: #b34c19;
  --zenly-amber-400: #E67F4C;
  --zenly-blue--700: #1c4b7d;
  --zenly-purple--400: #b86fc3;
  --success--50: #e7f6ec;
  --error--75: #f2bcba;
  --zenly-purple--50: #f6edf8;
  --grey--300: #d0d5dd;
  --zenly-amber--400: #e67f4c;
  --error-50: #FBEAE9;
  --error--400: #d42620;
  --error-600: #BA110B;
  --grey--50: #f9fafb;
  --success--600: #04802e;
}

.heading-borders {
  margin: 20px 0;
  padding: 15px 0;
  border-top: 1px solid rgba(237, 237, 240, 1);
  border-bottom: 1px solid rgba(237, 237, 240, 1);
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.component-wrapper {
  z-index: 10;
  border-bottom: 1px solid #dadada99;
  padding: 100px 40px 20px;
  display: block;
  position: sticky;
  top: -80px;
}

.uc-h1 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.2em;
}

.uc-h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
}

.component-title_wrapper {
  margin-bottom: 20px;
}

.component-block_inner {
  grid-row-gap: 24px;
  border: .5px solid #e2e3e5;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.component-block_inner.cc-alt {
  grid-column-gap: 48px;
  background-color: #0000;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-left: 40px;
  padding-right: 40px;
}

.c-button {
  grid-column-gap: 6px;
  color: #fff;
  text-align: center;
  background-color: #2f7dd0;
  border: 1px solid transparent;
  border-radius: 6px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .2s;
  border: 1px solid transparent;
  display: flex;
}

.c-button:hover {
  background-color: #5897da;
  border-color: #2f7dd0;
}

.c-button:active {
  background-color: #2564a7;
  border-width: 0;
  border-color: #000;
}

.c-button.cc-lg {
  padding: 8px 12px;
}

.c-button.cc-xsm {
  padding: 4px 8px;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
}

.c-button.cc-xlg {
  grid-column-gap: 8px;
  width: 100%;
  padding: 10px 14px;
  display: block;
}

.c-button.cc-sm {
  border-radius: 4px;
  padding: 4px 8px;
  text-decoration: none;
}

.component-block {
  padding: 40px;
}

.c-button-2 {
  grid-column-gap: 6px;
  color: #fff;
  text-align: center;
  background-color: #1865ff;
  border-radius: 6px;
  flex: none;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  transition: background-color .2s;
  display: flex;
}

.c-button-2:hover {
  background-color: #000;
}

.c-button-2.cc-alt {
  color: #2f7dd0;
  background-color: #0000;
  border: 1px solid #accbec;
  text-decoration: none;
  box-shadow: inset 0 0 0 1px #0003;
}

.c-button-2.cc-alt:hover {
  background-color: #0000000d;
}

.c-button-2.cc-alt.cc-xsm {
  padding: 4px 8px;
}

.c-button-2.cc-alt.cc-lg {
  padding: 8px 12px;
}

.c-button-2.cc-alt.cc-xlg {
  padding: 10px 14px;
}

.c-button-2.cc-alt.cc-sm {
  padding: 4px 8px;
}

.c-button-2.cc-alt.burnt-btn {
  justify-content: center;
  align-items: center;
}

.body {
  font-family: DM Sans, sans-serif;
  font-weight: 600;
}

.text-block-2 {
  font-size: 12px;
}

.c-input_wrapper {
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
}

.c-input {
  background-color: #fff;
  border: 1px solid #e2e3e5;
  border-radius: 6px;
  /* min-width: 250px; */
  margin-bottom: 0;
  font-weight: 300;
  position: relative;
}

.c-input:focus {
  outline-offset: 0px;
  border-color: #e2e3e500;
  outline: 2px solid #1865ff;
}

.c-input::placeholder {
  color: #b1b1b1;
}

.c-input.cc-trailing-pad {
  padding-right: 40px;
}

.c-input.cc-leading-pad {
  padding-left: 40px;
}

.c-label {
  color: #1d2739;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.c-form_field {
  color: #1d2739;
}

.c-label_wrapper {
  grid-column-gap: 20px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.c-form_icon {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0%, -50%);
}

.c-form_icon.cc-trailing {
  left: auto;
  right: 12px;
}

.c-label-2 {
  font-weight: 600;
  line-height: 1.2em;
}

.c-label-2.parargraph-14-medium {
  font-family: DM Sans, sans-serif;
  line-height: 20px;
}

.c-label-2.paragraph-14-regular {
  color: var(--grey--600);
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  line-height: 20px;
}

.c-form_field-2 {
  color: #1d2739;
}

.c-form_field-2.onboard {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.tab {
  grid-column-gap: 6px;
  color: #667185;
  text-align: center;
  background-color: #0000;
  border-radius: 6px;
  flex: none;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .2s;
  display: flex;
}

.tab:hover {
  color: #2564a7;
  background-color: #0000000d;
}

.tab.active {
  color: #2564a7;
  background-color: #d7e6f6;
}

.tab.active.pagination {
  width: auto;
}

.tab.width {
  width: 100%;
}

.text-block-3 {
  font-weight: 400;
}

.aside {
  background-color: #fff;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 220px;
  height: 100svh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.tabs {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.img-wrapper {
  width: 100%;
  padding: 16px;
}

.logo-tab-layout {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.avatar-placeholder {
  position: absolute;
  inset: 0%;
}

.avatar-placeholder.uc-hide {
  width: 5%;
}

.c-avatar {
  color: #d2d5da;
  background-color: #f3f4f6;
  border-radius: 50%;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.c-avatar.cc-lg {
  width: 48px;
  height: 48px;
  font-size: 16px;
}

.c-avatar.cc-xxlg {
  color: #136cff;
  width: 64px;
  height: 64px;
}

.c-avatar.cc-xlg {
  width: 56px;
  height: 56px;
}

.c-avatar.cc-xsm {
  width: 24px;
  height: 24px;
}

.c-avatar.cc-sm {
  width: 32px;
  height: 32px;
}

.c-img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  display: block;
}

.c-img.cc-cover {
  object-fit: cover;
}

.user-name {
  font-weight: 600;
}

.user-role {
  font-weight: 400;
}

.user-details {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}

.user-wraper {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.component-block_inner-copy {
  grid-row-gap: 24px;
  border: .5px solid #e2e3e5;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.component-block_inner-copy.cc-alt {
  grid-column-gap: 48px;
  background-color: #f0efef;
  flex-flow: wrap;
  justify-content: center;
  align-items: flex-end;
  padding-left: 40px;
  padding-right: 40px;
}

.section {
  background-image: url('../images/onboarding-bg.png');
  background-position: 100%;
  background-size: cover;
  height: 100vh;
}

.invite {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  position: static;
  top: 50%;
  left: 40px;
}

.invite-card {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
  border-radius: 12px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 32px 28px;
  display: flex;
}

.h4-semibold {
  color: var(--grey--900);
  font-family: Recoleta Alt, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.paragrapg-16-regular {
  color: var(--grey--500);
  text-align: center;
  font-family: DM Sans, sans-serif;
}

.form-block {
  width: 100%;
}

@media screen and (min-width:300px) {
  .form-block {
    width: 280px;
  }
}

@media screen and (min-width:350px) {
  .form-block {
    width: 350px;
  }
}

@media screen and (min-width:500px) {
  .form-block {
    width: 100%;
  }
}

.invite-text {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.div-block {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.small-14-medium {
  font-family: DM Sans, sans-serif;
  font-weight: 600;
}

.checkbox {
  border: 1px solid var(--grey--500);
  color: var(--grey--500);
}

.form {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.signup-layout {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: .75fr 1fr;
  grid-auto-columns: 1fr;
  height: 100%;
  display: grid;
}

.lhs {
  background-image: url('../images/lhs-background.jpg');
  background-position: 0 0;
  background-repeat: repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 100%;
}

.rhs {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.section-2 {
  height: 100vh;
}

.text-block-4 {
  text-align: center;
  font-family: Recoleta Alt, sans-serif;
  font-size: 38px;
  font-weight: 400;
  line-height: 50px;
}

.lhs-text {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.filled {
  background-color: var(--zenly-blue--500);
  border-radius: 1000px;
  width: 96px;
  height: 5px;
}

.unfilled {
  background-color: var(--zenly-blue--100);
  border-radius: 1000px;
  width: 96px;
  height: 5px;
}

.rhs-status {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.h5-medium {
  color: var(--grey--900);
  font-family: Recoleta Alt, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.form-block-rhs {
  width: 100%;
}

.c-form_field_workemail {
  color: #1d2739;
  width: 100%;
}

.password-lhs {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.paragraph-14-medium {
  font-family: DM Sans, sans-serif;
  font-weight: 600;
}

.paragraph-14-medium.blue {
  color: var(--zenly-blue--500);
  justify-content: flex-start;
  align-items: center;
  display: block;
}

.paragraph-14-medium.grey-500 {
  color: var(--grey--500);
}

.black-500 {
  color: var(--black-200);
}

.paragraph-14-medium.grey-800 {
  color: var(--grey--800);
}

.paragraph-14-medium.gray-500 {
  color: var(--grey--500);
}

.paragraph-14-medium.white {
  color: #fff;
}

.div-block-2 {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.rhs-header {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.rhs-holder {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  margin-top: 60px;
  display: flex;
}

.paragraph-14-regular {
  color: var(--grey--600);
  font-family: DM Sans, sans-serif;
}

.paragraph-14-regular.grey-500 {
  color: var(--grey--500);
}

.c-form_field-login {
  color: #1d2739;
  width: 100%;
}

.forgot-pass {
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.dashboard-layout {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.nav {
  border-right: 1px solid var(--grey--100);
  height: 100svh;
}

.content {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: block;
}

.c-input_wrapper-2 {
  align-items: center;
  display: flex;
  position: relative;
}

.form-block-2_head {
  width: 420px;
  margin-bottom: 0;
}

.header {
  border-bottom: 1px solid #EDEDF0;
  border-top: 1px solid #EDEDF0;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.section-3 {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}

@media (min-width: 1024px) {
  .section-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.page_title-copy {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
}

.text-block-7 {
  color: var(--grey--500);
}

.team-stats {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.stats-layout {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.stat {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.h6-medium {
  font-family: Recoleta Alt, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.div-block-3 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.text-block-8 {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
}

.design-burnout-stats {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.all-stats {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
  display: flex;
}

.paragrapg-16-regular {
  color: var(--grey--500);
  text-align: center;
  font-family: DM Sans, sans-serif;
}

.paragrapg-16-regular.left-aligned {
  text-align: left;
}

.design-stat-layout {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.burnout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.level {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.report {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.reports {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.near-burnout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  display: flex;
}

.paragraph-16-medium {
  color: var(--grey--800);
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.div-block-4 {
  background-color: var(--zenly-amber--50);
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
}

.paragraph-12-medium {
  font-family: DM Sans, sans-serif;
  font-size: 12px;
  line-height: 145%;
}

.paragraph-12-medium

.zenly-amber-600 {
  color: var(--zenly-amber--600);
}

.zenly-amber-400 {
  background-color:  var(--zenly-amber--400);
}

.error-50 {
  background-color: var(--zenly-amber--50);
}

.break-100 {
  background-color: var(--grey--100);
}

.zenly-error-600 {
  color: var(--error-600);
}

.zenly-success-600 {
  color: var(--success--600);
}

.zenly-break-500 {
  color: var(--grey--500);
}

.paragraph-12-medium.zenly-blue-700, .paragraph-12-medium {
  color: var(--zenly-blue--700);
}

.paragraph-12-medium.zenly-purple-400 {
  color: var(--zenly-purple--400);
}

.burnout-headline {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  border-bottom: 1px solid #f0f2f5;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
}

.headliner {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.pill {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: var(--zenly-amber--50);
  border-radius: 16px;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  padding: 4px 10px;
  display: flex;
}

.pill.success {
  background-color: var(--success--50);
}

.pill.error {
  background-color: var(--error--75);
}

.pill.no-dot {
  background-color: var(--zenly-purple--50);
  /* width: auto; */
}

.design-member-status {
  border-bottom: 1px solid #f0f2f5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
}

.btn-holder {
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  display: flex;
}

.team-tasks {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.member {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  display: flex;
}

.text-avatar {
  background-color: var(--zenly-blue--100);
  text-align: center;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: flex;
}

.member-task-headline {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  border-bottom: 1px solid #f0f2f5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
}

.name-avatar {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.member-detail {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.member-closed {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  display: flex;
}

.member-task-headline-copy {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.chart-div {
  width: 100%;
  height: 100%;
}

.engr-burnout-stats {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.engr-stat-layout {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-rows: auto;
  width: 100%;
  display: grid;
}

.engr-stat {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.engr-stat.blue {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--zenly-blue--500);
  flex-flow: column;
}

.progress-container {
  background-color: var(--grey--100);
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10px;
  display: flex;
}

.progress-container.grey-300 {
  background-color: var(--grey--300);
}

.prpogress-bar {
  background-color: var(--zenly-amber--400);
  border-radius: 16px;
  width: 80%;
  height: 100%;
}

.prpogress-bar.error-400 {
  background-color: var(--error--400);
  width: 90%;
}

.prpogress-bar.white {
  background-color: var(--grey--100);
}

.prpogress-bar.yellow {
  background-color: #fa9c1b;
  width: 60%;
}

.prpogress-bar.green {
  background-color: #86dc3d;
  width: 52%;
}

.paragraph-12-bold {
  font-family: DM Sans, sans-serif;
  font-weight: 800;
}

.progress-layout {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
}

.team-header {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
}

.div-block-5 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.teem-metrics {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.team-meter {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.div-block-5 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.div-block-6 {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.search-filter {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  display: flex;
}

.table_cell {
  padding: 16px 20px;
}

.table_row {
  border-bottom: 1px solid #e4e7ec;
}

.table_header {
  color: #475467;
  background-color: #f9fafb;
  padding: 16px 20px;
  font-family: DM Sans, sans-serif;
  font-weight: 600;
}

.table_component {
  border: 1px solid var(--grey--200);
  text-align: left;
  width: 100%;
  font-family: DM Sans, sans-serif;
}

.checkbox-label {
  display: none;
}

.image-bg {
  background-image: url('../images/gradient.svg');
  background-position: 50%;
  background-size: cover;
  width: 100%;
  height: 100px;
}

.account {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  flex-flow: column;
  width: 100%;
  display: flex;
}

.account-text {
  flex-flow: column;
  display: flex;
}

.account-layout {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.acc-headers {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: var(--grey--50);
  border-radius: 8px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 16px 24px;
  display: flex;
}

.acc-details {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  width: 100%;
  padding: 24px;
  display: flex;
}

.name {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.fn, .ln {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.pill-blu {
  grid-column-gap: 6px;
  grid-row-gap: 6px;
  background-color: var(--zenly-blue--100);
  border-radius: 16px;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  display: flex;
}

.pill-blu.success {
  background-color: var(--success--50);
}

.pill-blu.error {
  background-color: var(--error--75);
}

.acc-dets, .security {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.password {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.burnout-mertics {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.member-detail-team {
  border-bottom: 1px solid #f0f2f5;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 12px;
  display: flex;
}

.headliner-copy {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: none;
}

.pagination {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.paginate {
  grid-column-gap: 4px;
  grid-row-gap: 4px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.text-block-9, .text-block-10, .text-block-11 {
  color: var(--grey--800);
}

.div-block-7 {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.engr-stat-layout-2 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.text-block-12 {
  color: #fff;
  /* font-family: Recoleta Alt, sans-serif; */
  font-size: 32px;
  line-height: 40px;
}

.text-block-12.yellow {
  color: #fa9c1b;
}

.text-block-12.green {
  color: #86dc3d;
}

.design, .engring {
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  display: flex;
}

.engr-stat-copy {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.engr-stat-copy.blue {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--zenly-blue--500);
  flex-flow: column;
}

.alerts-leave {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.ba-layouts {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  display: grid;
}

.ba {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.ba-head {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.alert-container {
  border: 1px solid var(--grey--200);
  background-color: #fcfcfc;
  border-radius: 8px;
  width: 100%;
  padding: 24px;
}

.alert-layout {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  border: 1px solid var(--grey--100);
  background-color: #fff;
  border-radius: 8px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 16px;
  display: flex;
}

.profile {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.bn-alert {
  border-bottom: 1px solid var(--grey--200);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 16px;
  display: flex;
}

.engr-burnout-stats-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.charts {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #FCFCFC;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  padding: 24px;
  display: grid;
  border: 1px solid #E4E7EC;
  border-radius: 18px;
}

.chart {
  background-color: #fff;
  height: 100px;
}

.actions {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.actions.new {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.headliner-copy {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-content: space-between;
  align-items: center;
  width: auto;
  display: flex;
}

.body-2 {
  font-family: DM Sans, sans-serif;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.div-block-16 {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.textarea {
  border-radius: 6px;
  height: 240px;
  margin-bottom: 0;
}

.div-block-11 {
  flex-flow: column;
  width: 100%;
  display: flex;
}

.div-block-8 {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 60%;
  display: flex;
}

.div-block-10 {
  grid-column-gap: 36px;
  grid-row-gap: 36px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  display: flex;
}

.section-4 {
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 0;
  display: flex;
}

.div-block-9 {
  border: 1px solid var(--grey--200);
  border-radius: 8px;
  width: 100%;
  padding: 28px 24px;
}

.form-2 {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .component-block_inner.cc-alt, .component-block_inner-copy.cc-alt {
    flex-flow: wrap;
  }

  .section {
    background-image: none;
    background-position: 0 0;
    background-size: auto;
  }

  .signup-layout {
    display: block;
  }

  .lhs, .nav {
    display: none;
  }

  .stats-layout, .design-stat-layout {
    grid-template-columns: 1fr;
  }

  .headliner {
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  .engr-stat-layout {
    grid-template-columns: 1fr;
  }

  .div-block-8 {
    width: 100%;
  }

  .image, .image-copy {
    display: none;
  }

  .mobile-header {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
  }

  .div-block-13 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }

  .form-block-2_head-copy {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .invite-card, .rhs-holder {
    width: 80%;
  }

  .member-detail {
    justify-content: space-between;
    align-items: center;
  }

  .div-block-10 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
  }

  .mobile-members {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    display: flex;
  }

  .div-block-15 {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    border: 1px solid var(--grey--200);
    background-color: var(--grey--50);
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    display: flex;
  }
}


@media screen and (max-width: 479px) {
  .component-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .component-block_inner, .component-block {
    padding: 20px;
  }

  .c-input {
    min-width: 0;
  }

  .c-form_field, .c-form_field-2 {
    width: 100%;
  }

  .component-block_inner-copy {
    padding: 20px;
  }

  .c-form_field_workemail, .c-form_field-login {
    width: 100%;
  }

  .section-4 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-9 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

#w-node-_43cbc022-5995-f21d-2156-15246bdf5e06-dcb9c8cb, #w-node-_43cbc022-5995-f21d-2156-15246bdf5e06-574872b3 {
  place-self: auto;
}


@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/Fontspring-DEMO-recoletaalt-regular-iF663b21f697e65.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/Fontspring-DEMO-recoletaalt-semibold-iF663b21f69d11d.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/Fontspring-DEMO-recoletaalt-black-iF663b21f6712ee.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/Fontspring-DEMO-recoletaalt-light-iF663b21f688d82.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Recoleta Alt';
  src: url('../fonts/Fontspring-DEMO-recoletaalt-medium-iF663b21f692da3.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}